.container {
  max-width: 900px;
  margin: 0 auto;
  background-color: white;
  border-radius: 20px;
  padding: 2rem;
  box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: visible;
}